{% extends "base.html" %}

{% block title %}
    Author List
{% endblock %}

{% block content %}
    <h1 class="mb-4">{% if action == 'Create' %}Author Create {% else %}Author Update {% endif %}</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
          {{ form.name.label_tag }}
          {{ form.name }}
          {% if form.name.errors %}
          <div class="form-text text-danger">
            {% for error in form.name.errors%}
                <p>{{error}}</p>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="mb-3">
          {{ form.birthdate.label_tag }}
          {{ form.birthdate }}
          {% if form.birthdate.errors %}
          <div class="form-text text-danger">
            {% for error in form.birthdate.errors%}
                <p>{{error}}</p>
            {% endfor %}
          </div>
          {% endif %}
        </div>

      <div class="mb-3">
        {{ form.images.label_tag }}
        {{ form.images }}
        {% if form.images.errors %}
        <div class="form-text text-danger">
          {% for error in form.images.errors%}
              <p>{{error}}</p>
          {% endfor %}
        </div>
        {% endif %}
        <img src="#" id="imagePreview" alt="" class="img-thumbnail" style="display:none;max-width:200px;">
      </div>

      <div class="mb-3">
        {{ form.videos.label_tag }}
        {{ form.videos }}
        {% if form.videos.errors %}
        <div class="form-text text-danger">
          {% for error in form.videos.errors%}
              <p>{{error}}</p>
          {% endfor %}
        </div>
        {% endif %}
        <video id="videoPreview" class="mt-2" style="display: none; max-width: 300px;" controls>
          <source src="#" type="video/mp4">
          Your browser does not support the video tag.
      </video>      </div>
      <button type="submit" class="btn btn-primary">{{action}}</button>
    </form>

<script>
  document.getElementById('id_images').addEventListener('change', function(event) {
    var reader = new FileReader();
    reader.onload = function(){
        var imagePreview = document.getElementById('imagePreview');
        imagePreview.src = reader.result;
        imagePreview.style.display = 'block';
    }
    reader.readAsDataURL(event.target.files[0]);
})
document.getElementById('id_videos').addEventListener('change', function(event) {
  var file = event.target.files[0];
  if (file) {
      var videoPreview = document.getElementById('videoPreview');
      var videoSource = videoPreview.querySelector('source');
      videoSource.src = URL.createObjectURL(file);
      videoPreview.style.display = 'block';
      videoPreview.load();  // Reload the video element to load the selected file
  }
})
</script>
{% endblock %}
